# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-E0L8VZQ6EG

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=50242403164

# Site
NEXT_PUBLIC_SITE_URL=https://puertaabierta.com.gt

# ISR Revalidation
REVALIDATION_SECRET=
